# Ignore DS Store and other files
*.DS_Store
.vscode/

# Ignore Data
data/

# Ignore stderr and stdout
scripts_preprocessing/stderr
scripts_preprocessing/stdout

# Ignore pycache
.pytest_cache/
__pycache__/

# Ignore weights and runs
weights/
runs/

# Ignore stderr and stdout and logging
stderr
stdout
*.log